In [34]:
import pandas as pd

In [35]:
df_list_model = pd.read_csv('dokumentasi/evaluation_result_mei.csv')
df_list_model

,Unnamed: 0,model_name,stock,timestep,mse,mae,rmse,r2
0,0,asii_1_100_0.2_100_8.h5,asii,30,0.009649,0.078818,0.098228,0.813657
1,1,asii_1_100_0.2_200_8.h5,asii,30,0.009622,0.080436,0.098091,0.814176
2,2,asii_1_100_0_100_8.h5,asii,30,0.011467,0.087270,0.107084,0.772110
3,3,asii_1_100_0_200_8.h5,asii,30,0.009891,0.081287,0.099456,0.808968
4,4,asii_1_200_0_100_8.h5,asii,7,0.010088,0.081439,0.100440,0.802153
...,...,...,...,...,...,...,...,...
100,100,hrum_1_200_0_100_8.h5,hrum,7,0.008542,0.072188,0.092424,0.821981
101,101,hrum_1_300_0_100_8.h5,hrum,7,0.009565,0.074389,0.097803,0.806888
102,102,hrum_5_100_0_100_8.h5,hrum,7,0.061730,0.204776,0.248454,-0.213434
103,103,hrum_5_200_0_100_8.h5,hrum,7,0.048616,0.182184,0.220489,0.044353
104,104,hrum_5_300_0_100_8.h5,hrum,7,0.088485,0.237453,0.297465,-0.739379

In [36]:
layer = []
unit = []
dropout = []
epoch = []
batch_size = []
for value in range(len(df_list_model)):
    curr = df_list_model['model_name'].loc[value]
    split = curr.split('_')
    batch_size.append(split[-1].split('.')[0])
    layer.append(split[1])
    unit.append(split[2])
    dropout.append(split[3])
    epoch.append(split[4])
df_list_model['layer'] = layer
df_list_model['unit'] = unit
df_list_model['dropout'] = dropout
df_list_model['epoch'] = epoch
df_list_model['batch_size'] = batch_size

In [37]:
df_list_model.head(104)

,Unnamed: 0,model_name,stock,timestep,mse,mae,rmse,r2,layer,unit,dropout,epoch,batch_size
0,0,asii_1_100_0.2_100_8.h5,asii,30,0.009649,0.078818,0.098228,0.813657,1,100,0.2,100,8
1,1,asii_1_100_0.2_200_8.h5,asii,30,0.009622,0.080436,0.098091,0.814176,1,100,0.2,200,8
2,2,asii_1_100_0_100_8.h5,asii,30,0.011467,0.087270,0.107084,0.772110,1,100,0,100,8
3,3,asii_1_100_0_200_8.h5,asii,30,0.009891,0.081287,0.099456,0.808968,1,100,0,200,8
4,4,asii_1_200_0_100_8.h5,asii,7,0.010088,0.081439,0.100440,0.802153,1,200,0,100,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,99,hrum_1_100_0_100_8.h5,hrum,7,0.007681,0.065040,0.087641,0.849013,1,100,0,100,8
100,100,hrum_1_200_0_100_8.h5,hrum,7,0.008542,0.072188,0.092424,0.821981,1,200,0,100,8
101,101,hrum_1_300_0_100_8.h5,hrum,7,0.009565,0.074389,0.097803,0.806888,1,300,0,100,8
102,102,hrum_5_100_0_100_8.h5,hrum,7,0.061730,0.204776,0.248454,-0.213434,5,100,0,100,8
103,103,hrum_5_200_0_100_8.h5,hrum,7,0.048616,0.182184,0.220489,0.044353,5,200,0,100,8

In [38]:
df_list_model = df_list_model[["stock", "model_name", "layer", "unit", "dropout", "epoch", "batch_size", "timestep", "mse", "mae", "rmse", "r2" ]]

In [39]:
df_list_model.to_csv("dokumentasi/evaluation_result_right_ordered.csv")

ASII

In [40]:
df_model_for_asii = df_list_model.loc[df_list_model['stock'] == 'asii']

In [41]:
df_model_for_asii

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
0,asii,asii_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.009649,0.078818,0.098228,0.813657
1,asii,asii_1_100_0.2_200_8.h5,1,100,0.2,200,8,30,0.009622,0.080436,0.098091,0.814176
2,asii,asii_1_100_0_100_8.h5,1,100,0,100,8,30,0.011467,0.087270,0.107084,0.772110
3,asii,asii_1_100_0_200_8.h5,1,100,0,200,8,30,0.009891,0.081287,0.099456,0.808968
4,asii,asii_1_200_0_100_8.h5,1,200,0,100,8,7,0.010088,0.081439,0.100440,0.802153
5,asii,asii_1_300_0_100_8.h5,1,300,0,100,8,7,0.010169,0.081427,0.100840,0.800923
6,asii,asii_5_100_0_100_8.h5,5,100,0,100,8,7,0.009770,0.079668,0.098842,0.811319
7,asii,asii_5_200_0_100_8.h5,5,200,0,100,8,7,0.009538,0.079586,0.097664,0.815789
8,asii,asii_5_300_0_100_8.h5,5,300,0,100,8,7,0.010006,0.080327,0.100032,0.806746

In [42]:
print('min','mse',min(df_model_for_asii['mse'])) #nomor 0 asii_5_200_0_100_8.h5	
print('min','mae',min(df_model_for_asii['mae']))#nomor 1 asii_1_100_0.2_100_8.h5	
print('min','rmse',min(df_model_for_asii['rmse']))#nomor 7 asii_5_200_0_100_8.h5	
print('max','r2',max(df_model_for_asii['r2'])) #nomor 4 asii_1_200_0_100_8.h5

min mse 0.0095382504966927
min mae 0.0788181614231418
min rmse 0.0976639672381412
max r2 0.8157889114074475

In [43]:
print(df_model_for_asii[['mae']].idxmin())
print(df_model_for_asii[['mse']].idxmin())
print(df_model_for_asii[['rmse']].idxmin()) 
print(df_model_for_asii[['r2']].idxmax())

mae    0
dtype: int64
mse    7
dtype: int64
rmse    7
dtype: int64
r2    7
dtype: int64

AMRT

In [55]:
df_model_for_amrt = df_list_model.loc[df_list_model['stock'] == 'amrt']
df_model_for_amrt

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
9,amrt,amrt_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.017083,0.098425,0.130701,0.803056
10,amrt,amrt_1_100_0.2_200_8.h5,1,100,0.2,200,8,7,0.016039,0.091126,0.126647,0.815084
11,amrt,amrt_1_100_0_100_8.h5,1,100,0,100,8,30,0.016483,0.095391,0.128385,0.809975
12,amrt,amrt_1_100_0_200_8.h5,1,100,0,200,8,30,0.015852,0.094247,0.125904,0.817248
13,amrt,amrt_1_200_0_100_8.h5,1,200,0,100,8,7,0.016844,0.095344,0.129785,0.805807
14,amrt,amrt_1_300_0_100_8.h5,1,300,0,100,8,7,0.015676,0.091235,0.125203,0.819277
15,amrt,amrt_5_100_0_100_8.h5,5,100,0,100,8,7,0.017001,0.096056,0.130389,0.803997
16,amrt,amrt_5_200_0_100_8.h5,5,200,0,100,8,7,0.017883,0.093168,0.133726,0.793834
17,amrt,amrt_5_300_0_100_8.h5,5,300,0,100,8,7,0.018232,0.096728,0.135025,0.789809

In [44]:

print(df_model_for_amrt)
print(df_model_for_amrt[['mae']].idxmin())
print(df_model_for_amrt[['mse']].idxmin())
print(df_model_for_amrt[['rmse']].idxmin()) 
print(df_model_for_amrt[['r2']].idxmax())

   stock               model_name layer unit dropout epoch batch_size  \
9   amrt  amrt_1_100_0.2_100_8.h5     1  100     0.2   100          8
10  amrt  amrt_1_100_0.2_200_8.h5     1  100     0.2   200          8
11  amrt    amrt_1_100_0_100_8.h5     1  100       0   100          8
12  amrt    amrt_1_100_0_200_8.h5     1  100       0   200          8
13  amrt    amrt_1_200_0_100_8.h5     1  200       0   100          8
14  amrt    amrt_1_300_0_100_8.h5     1  300       0   100          8
15  amrt    amrt_5_100_0_100_8.h5     5  100       0   100          8
16  amrt    amrt_5_200_0_100_8.h5     5  200       0   100          8
17  amrt    amrt_5_300_0_100_8.h5     5  300       0   100          8

    timestep       mse       mae      rmse        r2
9         30  0.017083  0.098425  0.130701  0.803056
10         7  0.016039  0.091126  0.126647  0.815084
11        30  0.016483  0.095391  0.128385  0.809975
12        30  0.015852  0.094247  0.125904  0.817248
13         7  0.016844  0.095344  0.129785  0.805807
14         7  0.015676  0.091235  0.125203  0.819277
15         7  0.017001  0.096056  0.130389  0.803997
16         7  0.017883  0.093168  0.133726  0.793834
17         7  0.018232  0.096728  0.135025  0.789809
mae    10
dtype: int64
mse    14
dtype: int64
rmse    14
dtype: int64
r2    14
dtype: int64

UNTR

In [57]:
df_model_for_untr = df_list_model.loc[df_list_model['stock'] == 'untr']
df_model_for_untr

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
18,untr,untr_1_100_0.2_100_32.h5,1,100,0.2,100,32,30,0.009962,0.072774,0.099811,0.808482
19,untr,untr_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.009815,0.072030,0.099072,0.809295
20,untr,untr_1_100_0.2_200_8.h5,1,100,0.2,200,8,30,0.011789,0.080645,0.108576,0.758989
21,untr,untr_1_100_0_100_32.h5,1,100,0,100,32,30,0.010072,0.072189,0.100358,0.796068
22,untr,untr_1_100_0_100_8.h5,1,100,0,100,8,30,0.010258,0.077321,0.101280,0.797779
23,untr,untr_1_100_0_200_32.h5,1,100,0,200,32,7,0.010311,0.073703,0.101545,0.808708
24,untr,untr_1_100_0_200_8.h5,1,100,0,200,8,30,0.009789,0.070814,0.098938,0.818406
25,untr,untr_1_200_0_100_8.h5,1,200,0,100,8,7,0.010048,0.072866,0.100237,0.808509
26,untr,untr_1_300_0_100_8.h5,1,300,0,100,8,7,0.009863,0.072047,0.099315,0.817019
27,untr,untr_5_100_0_100_8.h5,5,100,0,100,8,7,0.010699,0.076673,0.103435,0.801523
28,untr,untr_5_200_0_100_8.h5,5,200,0,100,8,7,0.010684,0.077016,0.103365,0.795723

In [45]:
df_model_for_untr = df_list_model.loc[df_list_model['stock'] == 'untr']
print(df_model_for_untr)
print(df_model_for_untr[['mae']].idxmin())
print(df_model_for_untr[['mse']].idxmin())
print(df_model_for_untr[['rmse']].idxmin()) 
print(df_model_for_untr[['r2']].idxmax())

   stock                model_name layer unit dropout epoch batch_size  \
18  untr  untr_1_100_0.2_100_32.h5     1  100     0.2   100         32
19  untr   untr_1_100_0.2_100_8.h5     1  100     0.2   100          8
20  untr   untr_1_100_0.2_200_8.h5     1  100     0.2   200          8
21  untr    untr_1_100_0_100_32.h5     1  100       0   100         32
22  untr     untr_1_100_0_100_8.h5     1  100       0   100          8
23  untr    untr_1_100_0_200_32.h5     1  100       0   200         32
24  untr     untr_1_100_0_200_8.h5     1  100       0   200          8
25  untr     untr_1_200_0_100_8.h5     1  200       0   100          8
26  untr     untr_1_300_0_100_8.h5     1  300       0   100          8
27  untr     untr_5_100_0_100_8.h5     5  100       0   100          8
28  untr     untr_5_200_0_100_8.h5     5  200       0   100          8

    timestep       mse       mae      rmse        r2
18        30  0.009962  0.072774  0.099811  0.808482
19        30  0.009815  0.072030  0.099072  0.809295
20        30  0.011789  0.080645  0.108576  0.758989
21        30  0.010072  0.072189  0.100358  0.796068
22        30  0.010258  0.077321  0.101280  0.797779
23         7  0.010311  0.073703  0.101545  0.808708
24        30  0.009789  0.070814  0.098938  0.818406
25         7  0.010048  0.072866  0.100237  0.808509
26         7  0.009863  0.072047  0.099315  0.817019
27         7  0.010699  0.076673  0.103435  0.801523
28         7  0.010684  0.077016  0.103365  0.795723
mae    24
dtype: int64
mse    24
dtype: int64
rmse    24
dtype: int64
r2    24
dtype: int64

UNVR

In [56]:
df_model_for_unvr = df_list_model.loc[df_list_model['stock'] == 'unvr']
df_model_for_unvr

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
29,unvr,unvr_1_100_0.2_100_32.h5,1,100,0.2,100,32,30,0.004764,0.047170,0.069025,0.936944
30,unvr,unvr_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.004093,0.047819,0.063980,0.945824
31,unvr,unvr_1_100_0.2_200_8.h5,1,100,0.2,200,8,30,0.004539,0.046775,0.067375,0.939922
32,unvr,unvr_1_100_0_100_32.h5,1,100,0,100,32,30,0.004267,0.043132,0.065318,0.943534
33,unvr,unvr_1_100_0_100_8.h5,1,100,0,100,8,30,0.004421,0.044529,0.066490,0.941490
34,unvr,unvr_1_100_0_200_32.h5,1,100,0,200,32,30,0.004112,0.041907,0.064125,0.945578
35,unvr,unvr_1_100_0_200_8.h5,1,100,0,200,8,30,0.005760,0.053216,0.075895,0.923767
36,unvr,unvr_1_200_0_100_8.h5,1,200,0,100,8,7,0.004240,0.045695,0.065116,0.943048
37,unvr,unvr_1_300_0_100_8.h5,1,300,0,100,8,7,0.004711,0.053115,0.068634,0.937655
38,unvr,unvr_5_100_0_100_8.h5,5,100,0,100,8,7,0.005951,0.059165,0.077140,0.921245
39,unvr,unvr_5_200_0_100_8.h5,5,200,0,100,8,7,0.005024,0.049198,0.070884,0.926288
40,unvr,unvr_5_300_0_100_8.h5,5,300,0,100,8,7,0.004805,0.053801,0.069316,0.936410

In [46]:
df_model_for_unvr = df_list_model.loc[df_list_model['stock'] == 'unvr']
print(df_model_for_unvr)
print(df_model_for_unvr[['mae']].idxmin())
print(df_model_for_unvr[['mse']].idxmin())
print(df_model_for_unvr[['rmse']].idxmin()) 
print(df_model_for_unvr[['r2']].idxmax())

   stock                model_name layer unit dropout epoch batch_size  \
29  unvr  unvr_1_100_0.2_100_32.h5     1  100     0.2   100         32
30  unvr   unvr_1_100_0.2_100_8.h5     1  100     0.2   100          8
31  unvr   unvr_1_100_0.2_200_8.h5     1  100     0.2   200          8
32  unvr    unvr_1_100_0_100_32.h5     1  100       0   100         32
33  unvr     unvr_1_100_0_100_8.h5     1  100       0   100          8
34  unvr    unvr_1_100_0_200_32.h5     1  100       0   200         32
35  unvr     unvr_1_100_0_200_8.h5     1  100       0   200          8
36  unvr     unvr_1_200_0_100_8.h5     1  200       0   100          8
37  unvr     unvr_1_300_0_100_8.h5     1  300       0   100          8
38  unvr     unvr_5_100_0_100_8.h5     5  100       0   100          8
39  unvr     unvr_5_200_0_100_8.h5     5  200       0   100          8
40  unvr     unvr_5_300_0_100_8.h5     5  300       0   100          8

    timestep       mse       mae      rmse        r2
29        30  0.004764  0.047170  0.069025  0.936944
30        30  0.004093  0.047819  0.063980  0.945824
31        30  0.004539  0.046775  0.067375  0.939922
32        30  0.004267  0.043132  0.065318  0.943534
33        30  0.004421  0.044529  0.066490  0.941490
34        30  0.004112  0.041907  0.064125  0.945578
35        30  0.005760  0.053216  0.075895  0.923767
36         7  0.004240  0.045695  0.065116  0.943048
37         7  0.004711  0.053115  0.068634  0.937655
38         7  0.005951  0.059165  0.077140  0.921245
39         7  0.005024  0.049198  0.070884  0.926288
40         7  0.004805  0.053801  0.069316  0.936410
mae    34
dtype: int64
mse    30
dtype: int64
rmse    30
dtype: int64
r2    30
dtype: int64

MAPI

In [58]:
df_model_for_mapi = df_list_model.loc[df_list_model['stock'] == 'mapi']
df_model_for_mapi

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
41,mapi,mapi_1_100_0.2_100_32.h5,1,100,0.2,100,32,30,0.014502,0.091892,0.120426,0.726755
42,mapi,mapi_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.009953,0.078484,0.099764,0.812476
43,mapi,mapi_1_100_0.2_200_8.h5,1,100,0.2,200,8,30,0.009989,0.078766,0.099947,0.811785
44,mapi,mapi_1_100_0_100_32.h5,1,100,0,100,32,30,0.011318,0.083205,0.106387,0.786751
45,mapi,mapi_1_100_0_100_8.h5,1,100,0,100,8,30,0.009385,0.076750,0.096875,0.823177
46,mapi,mapi_1_100_0_200_32.h5,1,100,0,200,32,30,0.009874,0.078131,0.099370,0.813953
47,mapi,mapi_1_100_0_200_8.h5,1,100,0,200,8,30,0.009547,0.077333,0.097706,0.820130
48,mapi,mapi_1_200_0_100_8.h5,1,200,0,100,8,30,0.010604,0.079669,0.102974,0.796097
49,mapi,mapi_1_300_0_100_8.h5,1,300,0,100,8,30,0.009964,0.079217,0.099821,0.812261
50,mapi,mapi_5_100_0_100_8.h5,5,100,0,100,8,30,0.010917,0.080109,0.104483,0.794313
51,mapi,mapi_5_200_0_100_8.h5,5,200,0,100,8,7,0.009773,0.077211,0.098861,0.815855
52,mapi,mapi_5_300_0_100_8.h5,5,300,0,100,8,7,0.010274,0.080209,0.101360,0.806427

In [47]:
df_model_for_mapi = df_list_model.loc[df_list_model['stock'] == 'mapi']
print(df_model_for_mapi)
print(df_model_for_mapi[['mae']].idxmin())
print(df_model_for_mapi[['mse']].idxmin())
print(df_model_for_mapi[['rmse']].idxmin()) 
print(df_model_for_mapi[['r2']].idxmax())

   stock                model_name layer unit dropout epoch batch_size  \
41  mapi  mapi_1_100_0.2_100_32.h5     1  100     0.2   100         32
42  mapi   mapi_1_100_0.2_100_8.h5     1  100     0.2   100          8
43  mapi   mapi_1_100_0.2_200_8.h5     1  100     0.2   200          8
44  mapi    mapi_1_100_0_100_32.h5     1  100       0   100         32
45  mapi     mapi_1_100_0_100_8.h5     1  100       0   100          8
46  mapi    mapi_1_100_0_200_32.h5     1  100       0   200         32
47  mapi     mapi_1_100_0_200_8.h5     1  100       0   200          8
48  mapi     mapi_1_200_0_100_8.h5     1  200       0   100          8
49  mapi     mapi_1_300_0_100_8.h5     1  300       0   100          8
50  mapi     mapi_5_100_0_100_8.h5     5  100       0   100          8
51  mapi     mapi_5_200_0_100_8.h5     5  200       0   100          8
52  mapi     mapi_5_300_0_100_8.h5     5  300       0   100          8

    timestep       mse       mae      rmse        r2
41        30  0.014502  0.091892  0.120426  0.726755
42        30  0.009953  0.078484  0.099764  0.812476
43        30  0.009989  0.078766  0.099947  0.811785
44        30  0.011318  0.083205  0.106387  0.786751
45        30  0.009385  0.076750  0.096875  0.823177
46        30  0.009874  0.078131  0.099370  0.813953
47        30  0.009547  0.077333  0.097706  0.820130
48        30  0.010604  0.079669  0.102974  0.796097
49        30  0.009964  0.079217  0.099821  0.812261
50        30  0.010917  0.080109  0.104483  0.794313
51         7  0.009773  0.077211  0.098861  0.815855
52         7  0.010274  0.080209  0.101360  0.806427
mae    45
dtype: int64
mse    45
dtype: int64
rmse    45
dtype: int64
r2    45
dtype: int64

In [48]:
df_model_for_inkp = df_list_model.loc[df_list_model['stock'] == 'inkp']
print(df_model_for_inkp)
print(df_model_for_inkp[['mae']].idxmin())
print(df_model_for_inkp[['mse']].idxmin())
print(df_model_for_inkp[['rmse']].idxmin()) 
print(df_model_for_inkp[['r2']].idxmax())

   stock                model_name layer unit dropout epoch batch_size  \
53  inkp  inkp_1_100_0.2_100_32.h5     1  100     0.2   100         32
54  inkp   inkp_1_100_0.2_100_8.h5     1  100     0.2   100          8
55  inkp   inkp_1_100_0.2_200_8.h5     1  100     0.2   200          8
56  inkp    inkp_1_100_0_100_32.h5     1  100       0   100         32
57  inkp     inkp_1_100_0_100_8.h5     1  100       0   100          8
58  inkp    inkp_1_100_0_200_32.h5     1  100       0   200         32
59  inkp     inkp_1_100_0_200_8.h5     1  100       0   200          8
60  inkp     inkp_1_200_0_100_8.h5     1  200       0   100          8
61  inkp     inkp_1_300_0_100_8.h5     1  300       0   100          8
62  inkp     inkp_5_100_0_100_8.h5     5  100       0   100          8
63  inkp     inkp_5_200_0_100_8.h5     5  200       0   100          8
64  inkp     inkp_5_300_0_100_8.h5     5  300       0   100          8

    timestep       mse       mae      rmse        r2
53        30  0.009211  0.069112  0.095973  0.912044
54        30  0.007807  0.064988  0.088359  0.925327
55        30  0.008816  0.069483  0.093895  0.915003
56        30  0.009537  0.069375  0.097658  0.908929
57        30  0.008818  0.068231  0.093904  0.915794
58         7  0.007790  0.064142  0.088259  0.925615
59        30  0.008229  0.066346  0.090715  0.919776
60        30  0.008733  0.067763  0.093451  0.916606
61        30  0.007880  0.064042  0.088771  0.923776
62         7  0.009240  0.068436  0.096122  0.910767
63         7  0.007881  0.064971  0.088776  0.923537
64         7  0.011095  0.079390  0.105331  0.894056
mae    61
dtype: int64
mse    58
dtype: int64
rmse    58
dtype: int64
r2    58
dtype: int64

In [49]:
df_model_for_intp = df_list_model.loc[df_list_model['stock'] == 'intp']
print(df_model_for_intp)
print(df_model_for_intp[['mae']].idxmin())
print(df_model_for_intp[['mse']].idxmin())
print(df_model_for_intp[['rmse']].idxmin()) 
print(df_model_for_intp[['r2']].idxmax())

   stock                model_name layer unit dropout epoch batch_size  \
65  intp  intp_1_100_0.2_100_32.h5     1  100     0.2   100         32
66  intp   intp_1_100_0.2_100_8.h5     1  100     0.2   100          8
67  intp   intp_1_100_0.2_200_8.h5     1  100     0.2   200          8
68  intp    intp_1_100_0_100_32.h5     1  100       0   100         32
69  intp     intp_1_100_0_100_8.h5     1  100       0   100          8
70  intp    intp_1_100_0_200_32.h5     1  100       0   200         32
71  intp     intp_1_100_0_200_8.h5     1  100       0   200          8
72  intp     intp_1_200_0_100_8.h5     1  200       0   100          8
73  intp     intp_1_300_0_100_8.h5     1  300       0   100          8
74  intp     intp_5_100_0_100_8.h5     5  100       0   100          8
75  intp     intp_5_200_0_100_8.h5     5  200       0   100          8
76  intp     intp_5_300_0_100_8.h5     5  300       0   100          8

    timestep       mse       mae      rmse        r2
65        30  0.005324  0.052457  0.072962  0.914670
66        30  0.006328  0.057743  0.079550  0.898036
67        30  0.006019  0.056289  0.077583  0.894630
68        30  0.006505  0.059785  0.080654  0.893332
69        30  0.006629  0.061048  0.081417  0.893750
70        30  0.007361  0.064686  0.085796  0.882013
71        30  0.006171  0.059029  0.078553  0.893944
72        30  0.005488  0.052841  0.074079  0.912039
73        30  0.005547  0.052553  0.074476  0.911094
74        30  0.006274  0.059851  0.079207  0.894378
75        30  0.006218  0.061311  0.078856  0.876791
76         7  0.008955  0.067300  0.094632  0.856458
mae    65
dtype: int64
mse    65
dtype: int64
rmse    65
dtype: int64
r2    65
dtype: int64

In [50]:
df_model_for_aces = df_list_model.loc[df_list_model['stock'] == 'aces']
print(df_model_for_aces)
print(df_model_for_aces[['mae']].idxmin())
print(df_model_for_aces[['mse']].idxmin())
print(df_model_for_aces[['rmse']].idxmin()) 
print(df_model_for_aces[['r2']].idxmax())

   stock                model_name layer unit dropout epoch batch_size  \
77  aces  aces_1_100_0.2_100_32.h5     1  100     0.2   100         32
78  aces   aces_1_100_0.2_100_8.h5     1  100     0.2   100          8
79  aces  aces_1_100_0.2_200_32.h5     1  100     0.2   200         32
80  aces   aces_1_100_0.2_200_8.h5     1  100     0.2   200          8
81  aces    aces_1_100_0_100_32.h5     1  100       0   100         32
82  aces     aces_1_100_0_100_8.h5     1  100       0   100          8
83  aces    aces_1_100_0_200_32.h5     1  100       0   200         32
84  aces     aces_1_100_0_200_8.h5     1  100       0   200          8
85  aces     aces_1_200_0_100_8.h5     1  200       0   100          8
86  aces     aces_1_300_0_100_8.h5     1  300       0   100          8
87  aces     aces_5_100_0_100_8.h5     5  100       0   100          8
88  aces     aces_5_200_0_100_8.h5     5  200       0   100          8
89  aces     aces_5_300_0_100_8.h5     5  300       0   100          8

    timestep       mse       mae      rmse        r2
77        30  0.007318  0.062057  0.085547  0.884151
78        30  0.006788  0.060030  0.082388  0.892399
79         7  0.006784  0.059413  0.082366  0.892605
80        30  0.007018  0.061361  0.083773  0.887867
81        30  0.008234  0.065516  0.090741  0.869656
82        30  0.006450  0.057497  0.080313  0.897894
83        30  0.006468  0.058371  0.080422  0.897615
84        30  0.006629  0.059371  0.081420  0.895060
85        30  0.007303  0.062260  0.085460  0.881775
86        30  0.007424  0.063050  0.086160  0.880600
87        30  0.008448  0.067279  0.091912  0.866268
88         7  0.006103  0.055474  0.078120  0.902481
89         7  0.006091  0.056034  0.078048  0.901249
mae    88
dtype: int64
mse    89
dtype: int64
rmse    89
dtype: int64
r2    88
dtype: int64

In [51]:
df_model_for_sido = df_list_model.loc[df_list_model['stock'] == 'sido']
print(df_model_for_sido)
print(df_model_for_sido[['mae']].idxmin())
print(df_model_for_sido[['mse']].idxmin())
print(df_model_for_sido[['rmse']].idxmin()) 
print(df_model_for_sido[['r2']].idxmax())

   stock               model_name layer unit dropout epoch batch_size  \
90  sido  sido_1_100_0.2_100_8.h5     1  100     0.2   100          8
91  sido  sido_1_100_0.2_200_8.h5     1  100     0.2   200          8
92  sido    sido_1_100_0_100_8.h5     1  100       0   100          8
93  sido    sido_1_100_0_200_8.h5     1  100       0   200          8
94  sido    sido_1_200_0_100_8.h5     1  200       0   100          8
95  sido    sido_1_300_0_100_8.h5     1  300       0   100          8
96  sido    sido_5_100_0_100_8.h5     5  100       0   100          8
97  sido    sido_5_200_0_100_8.h5     5  200       0   100          8
98  sido    sido_5_300_0_100_8.h5     5  300       0   100          8

    timestep       mse       mae      rmse        r2
90        30  0.002749  0.037756  0.052430  0.970544
91        30  0.002935  0.038326  0.054179  0.968240
92        30  0.002815  0.037869  0.053053  0.968387
93        30  0.002996  0.038804  0.054740  0.967891
94         7  0.002429  0.037386  0.049281  0.973975
95         7  0.002653  0.036326  0.051509  0.971569
96         7  0.002776  0.039601  0.052690  0.969268
97         7  0.003401  0.041506  0.058315  0.963559
98         7  0.002905  0.041497  0.053897  0.968872
mae    95
dtype: int64
mse    94
dtype: int64
rmse    94
dtype: int64
r2    94
dtype: int64

In [52]:
df_model_for_hrum = df_list_model.loc[df_list_model['stock'] == 'hrum']
print(df_model_for_hrum)
print(df_model_for_hrum[['mae']].idxmin())
print(df_model_for_hrum[['mse']].idxmin())
print(df_model_for_hrum[['rmse']].idxmin()) 
print(df_model_for_hrum[['r2']].idxmax())

    stock             model_name layer unit dropout epoch batch_size  \
99   hrum  hrum_1_100_0_100_8.h5     1  100       0   100          8
100  hrum  hrum_1_200_0_100_8.h5     1  200       0   100          8
101  hrum  hrum_1_300_0_100_8.h5     1  300       0   100          8
102  hrum  hrum_5_100_0_100_8.h5     5  100       0   100          8
103  hrum  hrum_5_200_0_100_8.h5     5  200       0   100          8
104  hrum  hrum_5_300_0_100_8.h5     5  300       0   100          8

     timestep       mse       mae      rmse        r2
99          7  0.007681  0.065040  0.087641  0.849013
100         7  0.008542  0.072188  0.092424  0.821981
101         7  0.009565  0.074389  0.097803  0.806888
102         7  0.061730  0.204776  0.248454 -0.213434
103         7  0.048616  0.182184  0.220489  0.044353
104         7  0.088485  0.237453  0.297465 -0.739379
mae    99
dtype: int64
mse    99
dtype: int64
rmse    99
dtype: int64
r2    99
dtype: int64

In [53]:
df_model_for_hrum = df_list_model.loc[df_list_model['stock'] == 'hrum']
print(df_model_for_hrum)
print(df_model_for_hrum[['mae']].idxmin())
print(df_model_for_hrum[['mse']].idxmin())
print(df_model_for_hrum[['rmse']].idxmin()) 
print(df_model_for_hrum[['r2']].idxmax())

    stock             model_name layer unit dropout epoch batch_size  \
99   hrum  hrum_1_100_0_100_8.h5     1  100       0   100          8
100  hrum  hrum_1_200_0_100_8.h5     1  200       0   100          8
101  hrum  hrum_1_300_0_100_8.h5     1  300       0   100          8
102  hrum  hrum_5_100_0_100_8.h5     5  100       0   100          8
103  hrum  hrum_5_200_0_100_8.h5     5  200       0   100          8
104  hrum  hrum_5_300_0_100_8.h5     5  300       0   100          8

     timestep       mse       mae      rmse        r2
99          7  0.007681  0.065040  0.087641  0.849013
100         7  0.008542  0.072188  0.092424  0.821981
101         7  0.009565  0.074389  0.097803  0.806888
102         7  0.061730  0.204776  0.248454 -0.213434
103         7  0.048616  0.182184  0.220489  0.044353
104         7  0.088485  0.237453  0.297465 -0.739379
mae    99
dtype: int64
mse    99
dtype: int64
rmse    99
dtype: int64
r2    99
dtype: int64

In [59]:
df_model_for_inkp

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
53,inkp,inkp_1_100_0.2_100_32.h5,1,100,0.2,100,32,30,0.009211,0.069112,0.095973,0.912044
54,inkp,inkp_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.007807,0.064988,0.088359,0.925327
55,inkp,inkp_1_100_0.2_200_8.h5,1,100,0.2,200,8,30,0.008816,0.069483,0.093895,0.915003
56,inkp,inkp_1_100_0_100_32.h5,1,100,0,100,32,30,0.009537,0.069375,0.097658,0.908929
57,inkp,inkp_1_100_0_100_8.h5,1,100,0,100,8,30,0.008818,0.068231,0.093904,0.915794
58,inkp,inkp_1_100_0_200_32.h5,1,100,0,200,32,7,0.007790,0.064142,0.088259,0.925615
59,inkp,inkp_1_100_0_200_8.h5,1,100,0,200,8,30,0.008229,0.066346,0.090715,0.919776
60,inkp,inkp_1_200_0_100_8.h5,1,200,0,100,8,30,0.008733,0.067763,0.093451,0.916606
61,inkp,inkp_1_300_0_100_8.h5,1,300,0,100,8,30,0.007880,0.064042,0.088771,0.923776
62,inkp,inkp_5_100_0_100_8.h5,5,100,0,100,8,7,0.009240,0.068436,0.096122,0.910767
63,inkp,inkp_5_200_0_100_8.h5,5,200,0,100,8,7,0.007881,0.064971,0.088776,0.923537
64,inkp,inkp_5_300_0_100_8.h5,5,300,0,100,8,7,0.011095,0.079390,0.105331,0.894056

In [60]:
df_model_for_intp

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
65,intp,intp_1_100_0.2_100_32.h5,1,100,0.2,100,32,30,0.005324,0.052457,0.072962,0.914670
66,intp,intp_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.006328,0.057743,0.079550,0.898036
67,intp,intp_1_100_0.2_200_8.h5,1,100,0.2,200,8,30,0.006019,0.056289,0.077583,0.894630
68,intp,intp_1_100_0_100_32.h5,1,100,0,100,32,30,0.006505,0.059785,0.080654,0.893332
69,intp,intp_1_100_0_100_8.h5,1,100,0,100,8,30,0.006629,0.061048,0.081417,0.893750
70,intp,intp_1_100_0_200_32.h5,1,100,0,200,32,30,0.007361,0.064686,0.085796,0.882013
71,intp,intp_1_100_0_200_8.h5,1,100,0,200,8,30,0.006171,0.059029,0.078553,0.893944
72,intp,intp_1_200_0_100_8.h5,1,200,0,100,8,30,0.005488,0.052841,0.074079,0.912039
73,intp,intp_1_300_0_100_8.h5,1,300,0,100,8,30,0.005547,0.052553,0.074476,0.911094
74,intp,intp_5_100_0_100_8.h5,5,100,0,100,8,30,0.006274,0.059851,0.079207,0.894378
75,intp,intp_5_200_0_100_8.h5,5,200,0,100,8,30,0.006218,0.061311,0.078856,0.876791
76,intp,intp_5_300_0_100_8.h5,5,300,0,100,8,7,0.008955,0.067300,0.094632,0.856458

In [61]:
df_model_for_aces

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
77,aces,aces_1_100_0.2_100_32.h5,1,100,0.2,100,32,30,0.007318,0.062057,0.085547,0.884151
78,aces,aces_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.006788,0.060030,0.082388,0.892399
79,aces,aces_1_100_0.2_200_32.h5,1,100,0.2,200,32,7,0.006784,0.059413,0.082366,0.892605
80,aces,aces_1_100_0.2_200_8.h5,1,100,0.2,200,8,30,0.007018,0.061361,0.083773,0.887867
81,aces,aces_1_100_0_100_32.h5,1,100,0,100,32,30,0.008234,0.065516,0.090741,0.869656
82,aces,aces_1_100_0_100_8.h5,1,100,0,100,8,30,0.006450,0.057497,0.080313,0.897894
83,aces,aces_1_100_0_200_32.h5,1,100,0,200,32,30,0.006468,0.058371,0.080422,0.897615
84,aces,aces_1_100_0_200_8.h5,1,100,0,200,8,30,0.006629,0.059371,0.081420,0.895060
85,aces,aces_1_200_0_100_8.h5,1,200,0,100,8,30,0.007303,0.062260,0.085460,0.881775
86,aces,aces_1_300_0_100_8.h5,1,300,0,100,8,30,0.007424,0.063050,0.086160,0.880600
87,aces,aces_5_100_0_100_8.h5,5,100,0,100,8,30,0.008448,0.067279,0.091912,0.866268
88,aces,aces_5_200_0_100_8.h5,5,200,0,100,8,7,0.006103,0.055474,0.078120,0.902481
89,aces,aces_5_300_0_100_8.h5,5,300,0,100,8,7,0.006091,0.056034,0.078048,0.901249

In [62]:
df_model_for_sido

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
90,sido,sido_1_100_0.2_100_8.h5,1,100,0.2,100,8,30,0.002749,0.037756,0.052430,0.970544
91,sido,sido_1_100_0.2_200_8.h5,1,100,0.2,200,8,30,0.002935,0.038326,0.054179,0.968240
92,sido,sido_1_100_0_100_8.h5,1,100,0,100,8,30,0.002815,0.037869,0.053053,0.968387
93,sido,sido_1_100_0_200_8.h5,1,100,0,200,8,30,0.002996,0.038804,0.054740,0.967891
94,sido,sido_1_200_0_100_8.h5,1,200,0,100,8,7,0.002429,0.037386,0.049281,0.973975
95,sido,sido_1_300_0_100_8.h5,1,300,0,100,8,7,0.002653,0.036326,0.051509,0.971569
96,sido,sido_5_100_0_100_8.h5,5,100,0,100,8,7,0.002776,0.039601,0.052690,0.969268
97,sido,sido_5_200_0_100_8.h5,5,200,0,100,8,7,0.003401,0.041506,0.058315,0.963559
98,sido,sido_5_300_0_100_8.h5,5,300,0,100,8,7,0.002905,0.041497,0.053897,0.968872

In [63]:
df_model_for_hrum

,stock,model_name,layer,unit,dropout,epoch,batch_size,timestep,mse,mae,rmse,r2
99,hrum,hrum_1_100_0_100_8.h5,1,100,0,100,8,7,0.007681,0.065040,0.087641,0.849013
100,hrum,hrum_1_200_0_100_8.h5,1,200,0,100,8,7,0.008542,0.072188,0.092424,0.821981
101,hrum,hrum_1_300_0_100_8.h5,1,300,0,100,8,7,0.009565,0.074389,0.097803,0.806888
102,hrum,hrum_5_100_0_100_8.h5,5,100,0,100,8,7,0.061730,0.204776,0.248454,-0.213434
103,hrum,hrum_5_200_0_100_8.h5,5,200,0,100,8,7,0.048616,0.182184,0.220489,0.044353
104,hrum,hrum_5_300_0_100_8.h5,5,300,0,100,8,7,0.088485,0.237453,0.297465,-0.739379