In [33]:
import pandas as pd

In [34]:
df_list_model = pd.read_csv('result/evaluation_result_final.csv')

In [35]:
import os
os.getcwd()

'd:\\TA\\PL\\main_train_code'

ASII

In [50]:
df_model_for_asii = df_list_model.loc[df_list_model['stock'] == 'asii']

In [37]:
df_model_for_asii

,Unnamed: 0,model_name,stock,timestep,mse,mae,rmse,r2
0,0,asii_1_100_0.2_100_8.h5,asii,30,9775.456035,72.582751,98.870906,0.849240
1,1,asii_5_200_0_100_8.h5,asii,7,9470.391034,73.576119,97.315934,0.861528
2,2,asii_5_300_0_100_8.h5,asii,7,10422.393149,76.185053,102.090123,0.842965
3,3,asii_1_100_0.2_100_8.h5,asii,30,9775.456035,72.582751,98.870906,0.849240
4,4,asii_5_200_0_100_8.h5,asii,7,9470.391034,73.576119,97.315934,0.861528
5,5,asii_5_300_0_100_8.h5,asii,7,10422.393149,76.185053,102.090123,0.842965

In [51]:
print('min','mse',min(df_model_for_asii['mse'])) #nomor 0 asii_5_200_0_100_8.h5	
print('min','mae',min(df_model_for_asii['mae']))#nomor 1 asii_1_100_0.2_100_8.h5	
print('min','rmse',min(df_model_for_asii['rmse']))#nomor 7 asii_5_200_0_100_8.h5	
print('max','mse',max(df_model_for_asii['r2'])) #nomor 4 asii_1_200_0_100_8.h5

min mse 9470.391034433918
min mae 72.58275054603494
min rmse 97.31593412403704
max mse 0.861528217792511

In [39]:
print(df_model_for_asii[['mae']].idxmin())
print(df_model_for_asii[['mse']].idxmin())
print(df_model_for_asii[['rmse']].idxmin()) 
print(df_model_for_asii[['r2']].idxmin())

mae    0
dtype: int64
mse    1
dtype: int64
rmse    1
dtype: int64
r2    2
dtype: int64

AMRT

In [52]:
df_model_for_amrt = df_list_model.loc[df_list_model['stock'] == 'amrt']
print(df_model_for_amrt)
print(df_model_for_amrt[['mae']].idxmin())
print(df_model_for_amrt[['mse']].idxmin())
print(df_model_for_amrt[['rmse']].idxmin()) 
print(df_model_for_amrt[['r2']].idxmax())

    Unnamed: 0               model_name stock  timestep          mse  \
6            6  amrt_1_100_0.2_200_8.h5  amrt         7  2200.603790
7            7    amrt_1_200_0_100_8.h5  amrt         7  2377.415462
8            8    amrt_1_300_0_100_8.h5  amrt         7  2118.542900
9            9  amrt_1_100_0.2_200_8.h5  amrt         7  2200.603790
10          10    amrt_1_200_0_100_8.h5  amrt         7  2377.415462
11          11    amrt_1_300_0_100_8.h5  amrt         7  2118.542900

          mae       rmse        r2
6   34.985236  46.910594  0.767622
7   37.017302  48.758748  0.767850
8   34.468771  46.027632  0.769102
9   34.985236  46.910594  0.767622
10  37.017302  48.758748  0.767850
11  34.468771  46.027632  0.769102
mae    8
dtype: int64
mse    8
dtype: int64
rmse    8
dtype: int64
r2    8
dtype: int64

UNTR

In [53]:
df_model_for_untr = df_list_model.loc[df_list_model['stock'] == 'untr']
print(df_model_for_untr)
print(df_model_for_untr[['mae']].idxmin())
print(df_model_for_untr[['mse']].idxmin())
print(df_model_for_untr[['rmse']].idxmin()) 
print(df_model_for_untr[['r2']].idxmax())

    Unnamed: 0               model_name stock  timestep            mse  \
12          12  untr_1_100_0.2_100_8.h5  untr        30  150001.961175
13          13    untr_1_100_0_200_8.h5  untr        30  145001.895442
14          14  untr_1_100_0.2_100_8.h5  untr        30  150001.961175
15          15    untr_1_100_0_200_8.h5  untr        30  145001.895442

           mae        rmse        r2
12  275.001134  387.300866  0.841646
13  267.479335  380.791144  0.833858
14  275.001134  387.300866  0.841646
15  267.479335  380.791144  0.833858
mae    13
dtype: int64
mse    13
dtype: int64
rmse    13
dtype: int64
r2    12
dtype: int64

UNVR

In [54]:
df_model_for_unvr = df_list_model.loc[df_list_model['stock'] == 'unvr']
print(df_model_for_unvr)
print(df_model_for_unvr[['mae']].idxmin())
print(df_model_for_unvr[['mse']].idxmin())
print(df_model_for_unvr[['rmse']].idxmin()) 
print(df_model_for_unvr[['r2']].idxmax())

    Unnamed: 0               model_name stock  timestep          mse  \
16          16  unvr_1_100_0.2_100_8.h5  unvr        30  7991.925865
17          17    unvr_1_100_0_100_8.h5  unvr        30  7319.492430
18          18  unvr_1_100_0.2_100_8.h5  unvr        30  7991.925865
19          19    unvr_1_100_0_100_8.h5  unvr        30  7319.492430

          mae       rmse        r2
16  65.740568  89.397572  0.911869
17  56.427120  85.554032  0.930115
18  65.740568  89.397572  0.911869
19  56.427120  85.554032  0.930115
mae    17
dtype: int64
mse    17
dtype: int64
rmse    17
dtype: int64
r2    17
dtype: int64

MAPI

In [43]:
df_model_for_mapi = df_list_model.loc[df_list_model['stock'] == 'mapi']
print(df_model_for_mapi)
print(df_model_for_mapi[['mae']].idxmin())
print(df_model_for_mapi[['mse']].idxmin())
print(df_model_for_mapi[['rmse']].idxmin()) 
print(df_model_for_mapi[['r2']].idxmax())

    Unnamed: 0             model_name stock  timestep          mse        mae  \
20          20  mapi_1_100_0_100_8.h5  mapi        30  2269.772864  37.879820
21          21  mapi_1_100_0_200_8.h5  mapi        30  2205.399238  37.313196
22          22  mapi_1_100_0_100_8.h5  mapi        30  2269.772864  37.879820
23          23  mapi_1_100_0_200_8.h5  mapi        30  2205.399238  37.313196

         rmse        r2
20  47.642133  0.930353
21  46.961678  0.933229
22  47.642133  0.930353
23  46.961678  0.933229
mae    21
dtype: int64
mse    21
dtype: int64
rmse    21
dtype: int64
r2    21
dtype: int64

In [44]:
df_model_for_inkp = df_list_model.loc[df_list_model['stock'] == 'inkp']
print(df_model_for_inkp)
print(df_model_for_inkp[['mae']].idxmin())
print(df_model_for_inkp[['mse']].idxmin())
print(df_model_for_inkp[['rmse']].idxmin()) 
print(df_model_for_inkp[['r2']].idxmax())

    Unnamed: 0              model_name stock  timestep           mse  \
24          24  inkp_1_100_0_200_32.h5  inkp         7  38612.168364
25          25   inkp_5_200_0_100_8.h5  inkp         7  39911.771816
26          26  inkp_1_100_0_200_32.h5  inkp         7  38612.168364
27          27   inkp_5_200_0_100_8.h5  inkp         7  39911.771816

           mae        rmse        r2
24  145.453881  196.499792  0.931529
25  147.447796  199.779308  0.932127
26  145.453881  196.499792  0.931529
27  147.447796  199.779308  0.932127
mae    24
dtype: int64
mse    24
dtype: int64
rmse    24
dtype: int64
r2    25
dtype: int64

In [45]:
df_model_for_intp = df_list_model.loc[df_list_model['stock'] == 'intp']
print(df_model_for_intp)
print(df_model_for_intp[['mae']].idxmin())
print(df_model_for_intp[['mse']].idxmin())
print(df_model_for_intp[['rmse']].idxmin()) 
print(df_model_for_intp[['r2']].idxmax())

    Unnamed: 0                model_name stock  timestep           mse  \
28          28  intp_1_100_0.2_100_32.h5  intp        30  28788.164977
29          29  intp_1_100_0.2_100_32.h5  intp        30  28788.164977

           mae        rmse        r2
28  126.397587  169.670755  0.954276
29  126.397587  169.670755  0.954276
mae    28
dtype: int64
mse    28
dtype: int64
rmse    28
dtype: int64
r2    28
dtype: int64

In [46]:
df_model_for_aces = df_list_model.loc[df_list_model['stock'] == 'aces']
print(df_model_for_aces)
print(df_model_for_aces[['mae']].idxmin())
print(df_model_for_aces[['mse']].idxmin())
print(df_model_for_aces[['rmse']].idxmin()) 
print(df_model_for_aces[['r2']].idxmin())

    Unnamed: 0             model_name stock  timestep         mse        mae  \
30          30  aces_5_100_0_100_8.h5  aces        30  516.984978  16.893649
31          31  aces_5_200_0_100_8.h5  aces         7  418.337699  14.805523
32          32  aces_5_100_0_100_8.h5  aces        30  516.984978  16.893649
33          33  aces_5_200_0_100_8.h5  aces         7  418.337699  14.805523

         rmse        r2
30  22.737304  0.831889
31  20.453305  0.887775
32  22.737304  0.831889
33  20.453305  0.887775
mae    31
dtype: int64
mse    31
dtype: int64
rmse    31
dtype: int64
r2    30
dtype: int64

In [47]:
df_model_for_sido = df_list_model.loc[df_list_model['stock'] == 'sido']
print(df_model_for_sido)
print(df_model_for_sido[['mae']].idxmin())
print(df_model_for_sido[['mse']].idxmin())
print(df_model_for_sido[['rmse']].idxmin()) 
print(df_model_for_sido[['r2']].idxmax())

    Unnamed: 0             model_name stock  timestep         mse       mae  \
34          34  sido_1_200_0_100_8.h5  sido         7  124.250084  8.427123
35          35  sido_1_300_0_100_8.h5  sido         7  130.428907  8.113440
36          36  sido_1_200_0_100_8.h5  sido         7  124.250084  8.427123
37          37  sido_1_300_0_100_8.h5  sido         7  130.428907  8.113440

         rmse        r2
34  11.146752  0.980817
35  11.420548  0.979039
36  11.146752  0.980817
37  11.420548  0.979039
mae    35
dtype: int64
mse    34
dtype: int64
rmse    34
dtype: int64
r2    34
dtype: int64

In [48]:
df_model_for_hrum = df_list_model.loc[df_list_model['stock'] == 'hrum']
print(df_model_for_hrum)
print(df_model_for_hrum[['mae']].idxmin())
print(df_model_for_hrum[['mse']].idxmin())
print(df_model_for_hrum[['rmse']].idxmin()) 
print(df_model_for_hrum[['r2']].idxmax())

    Unnamed: 0             model_name stock  timestep          mse        mae  \
38          38  hrum_1_100_0_100_8.h5  hrum         7  1561.141423  29.524639
39          39  hrum_1_200_0_100_8.h5  hrum         7  1899.605344  34.679235
40          40  hrum_1_100_0_100_8.h5  hrum         7  1561.141423  29.524639
41          41  hrum_1_200_0_100_8.h5  hrum         7  1899.605344  34.679235

         rmse        r2
38  39.511282  0.805080
39  43.584462  0.804368
40  39.511282  0.805080
41  43.584462  0.804368
mae    38
dtype: int64
mse    38
dtype: int64
rmse    38
dtype: int64
r2    38
dtype: int64

In [49]:
df_model_for_hrum = df_list_model.loc[df_list_model['stock'] == 'hrum']
print(df_model_for_hrum)
print(df_model_for_hrum[['mae']].idxmin())
print(df_model_for_hrum[['mse']].idxmin())
print(df_model_for_hrum[['rmse']].idxmin()) 
print(df_model_for_hrum[['r2']].idxmax())

    Unnamed: 0             model_name stock  timestep          mse        mae  \
38          38  hrum_1_100_0_100_8.h5  hrum         7  1561.141423  29.524639
39          39  hrum_1_200_0_100_8.h5  hrum         7  1899.605344  34.679235
40          40  hrum_1_100_0_100_8.h5  hrum         7  1561.141423  29.524639
41          41  hrum_1_200_0_100_8.h5  hrum         7  1899.605344  34.679235

         rmse        r2
38  39.511282  0.805080
39  43.584462  0.804368
40  39.511282  0.805080
41  43.584462  0.804368
mae    38
dtype: int64
mse    38
dtype: int64
rmse    38
dtype: int64
r2    38
dtype: int64